<div class="row">
  <modal #Modal [hideCloseButton]="true" class="cm-modal" modalClass="cm-modal">
    <modal-header class="modal-header">
      <h4>MESSENGER CODE</h4>
    </modal-header>
    <modal-content class="modal-content">
      <img [src]="messengerCodeUri" alt="MESSENGER Code Here" id="qrCode" class="full-width" />
      <hr>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="QRModal.close()">okay!</button>
    </modal-footer>
  </modal>
</div>
