<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.14/c3.min.css">

<div class="col s12 m12 main-content" id="chartComponent">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Charts</h3>
    <blockquote>Charts</blockquote>
    <div class="margin-t-30"></div>
    <div class="col s12 m12">
        <div class= row>	
             <div id="ExtraFeedback" class="z-depth-4 col s12 m12">
                <div class="row">
                    <div class="col s9 m9">
                        <h6>&nbsp;Extra Feedback</h6>
                        <blockquote style="font-size:0.5em"></blockquote>
                    </div>
                     <div class="col s3 m3">
                            <a class="fa fa-circle icon-backgroundGood">Good</a>
                            <a class="fa fa-circle icon-backgroundNormal">Normal</a>
                            <a class="fa fa-circle icon-backgroundBad">Bad</a>
                    </div>
                </div>
                <div class="margin-t-5"></div>
                <div class="row">
                    <div class="extraFeedBack col s12 m{{numberClass}}" *ngFor="let chart of row1Extra; let i = index;">   
                            <span class="clChartTitle" (click)="onSelect(chart)">{{chart.name}} :</span>
                            <span class="text{{chart.small_quote}}">{{chart.small_quote}}</span>
                            <div class="row">
                                <div id="idDonutChart{{chart.id}}" class="col s6 m6" style="height: 80px; padding-left: 0;"></div>
                                <div id="idBarChart{{chart.id}}" class="col s6 m6" style="height: 80px; padding-left: 0px; border-left: 1px solid "></div>                            
                            </div>
                            <span style="font-size: smaller;">{{chart.blockquote}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="extraFeedBack col s12 m{{numberClass}}" *ngFor="let chart of row2Extra; let i = index;">
                             <span class="clChartTitle" (click)="onSelect(chart)">{{chart.name}} :</span>
                             <span class="text{{chart.small_quote}}">{{chart.small_quote}}</span>
 
                             <div class="row">
                                 <div id="idDonutChart{{chart.id}}" class="col s6 m6" style="height: 80px; padding-left: 0;"></div> 
                                 <div id="idBarChart{{chart.id}}" class="col s6 m6" style="height: 80px; padding-left: 0px; border-left: 1px solid "></div>
                             </div>
                            <span style="font-size: smaller;">{{chart.blockquote}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class= row style="height: 100%;display: flex;">
            <div class="z-depth-4 col s12 m4" *ngFor="let chart of listScoreWeekChart; let i = index;">
                 <div>
                     <h6 class="clChartTitle" (click)="onSelect(chart)">&nbsp;{{chart.name}} </h6>
                     <blockquote style="font-size:0.8em">{{chart.blockquote}}</blockquote>
                 </div>
                <div class="margin-t-5"></div>
                <div id="WeekScore{{chart.id}}"></div>
            </div>
        </div>
    </div> 
</div>