.icon-backgroundGood,.textGood {
    color: #4caf50;
}

.icon-backgroundNormal,.textNormal {
    color: #fdc141;
}

.icon-backgroundBad, .textBad {
    color: #f7665b;
}

.clChartTitle{
   cursor: pointer;
   text-decoration:underline;
}
