<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{ 'menu-management' | translate}}</h3>
  <blockquote>{{ 'menu-management' | translate}}.
  </blockquote>
  <div class="margin-t-30"></div>
  <a class="modal-trigger waves-effect waves-light btn" routerLink="/menu/add">{{ 'add' | translate}}</a>
  <table class="responsive-table striped custom-table">
    <thead>
      <tr>
        <th>{{ 'item-menu-name' | translate}}</th>
        <th class="img">{{ 'image' | translate}}</th>
        <th>{{ 'description' | translate}}</th>
        <th>{{ 'price' | translate}}</th>
        <!-- <th>Rate</th> -->
        <!-- <th>{{ translate('status')}}</th> -->
        <th>{{ 'action' | translate}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of menu;">
        <td>{{item.name}}</td>
        <td>
          <span *ngIf="item.thumbnail != ''"><img src="{{staticUrl}}/public/img/upload/menu/{{item.thumbnail}}" onError="this.src='/assets/images/no-image.png'" class="width-50"></span>
        </td>
        <td>{{item.description}}</td>
        <td>{{item.price | currency:'USD':true}}</td>
        <!-- <td>{{item.rate}}</td> -->
        <!-- <td>
          <span *ngIf="!item.isDeleted"><i class="fa fa-check-square-o"></i></span>
          <span *ngIf="item.isDeleted"><i class="fa fa-close"></i></span>
        </td> -->
        <td>
          <a [routerLink]="['/menu', item._id]"><i class="fa fa-pencil"></i></a> &nbsp;
          <a (click)="delete(item)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
