<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{ 'menu-management' | translate}}</h3>
  <blockquote>{{ 'add-new-to-menu' | translate}}.
  </blockquote>
  <div class="margin-t-30"></div>
  <form class="col s10 custom-form" [formGroup]="createForm">
    <div class="row">
      <div class=" col s12 m7">
        {{ 'item-menu-name' | translate}}:
        <div class="input-field inline">
          <input id="name" placeholder="Item's name" type="text" class="validate" name="name" [(ngModel)]="item.name" formControlName="name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col s12 m7">
        {{ 'image' | translate}}:
        <div class="file-field input-field inline">
          <!-- <span *ngIf="item.thumbnail != ''"><img src="{{staticUrl}}/public/img/upload/menu/{{item.thumbnail}}" class="width-50"></span> -->
          <div class="btn btn-small">
            <span><i class="fa fa-upload"></i></span>
            <input type="file" (change)="fileChange($event)" placeholder="Only accept png image" accept=".png">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Only accept png image">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        {{ 'price' | translate}}:
        <div class="input-field inline">
          <input placeholder="10000" id="rate" type="number" name="price" [(ngModel)]="item.price" formControlName="price" required>
        </div>
      </div>
      <!-- <div class="col s12 m6">
        Rate:
        <div class="input-field inline">
          <input placeholder="Rate betwwen 1 and 5" id="rate" type="number" name="rate" [(ngModel)]="item.rate" formControlName="rate" required>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col s12">
        {{ 'description' | translate}}:
        <div class="input-field">
          <input placeholder="Short description for the item" id="description" type="text" class="validate" name="description" [(ngModel)]="item.description"  formControlName="description"
            required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="modal-trigger waves-effect waves-light btn" (click)="addOrUpdate()" [ngClass]="{'disabled' : !createForm.valid}">{{submitButtonText}}</a>
      </div>
    </div>
  </form>
</div>
<app-preloader [loading]="loading"></app-preloader>
