<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Menu Management</h3>
    <blockquote>Add new item for menu.
    </blockquote>
    <div class="margin-t-30"></div>
    <form class="col s10 push-s1 custom-form">
        <div class="row">
            <div class="input-field col s12">
                <textarea name="content" id="content" cols="30" rows="10" placeholder="Question's content..." [(ngModel)]="item.content" required></textarea>
                <label for="content">Content</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Answer {{noAns + 1}}" id="ans{{noAns + 1}}" type="text" class="validate" name="ans{{noAns + 1}}" required>
                <label for="ans{{noAns + 1}}">Answer {{noAns + 1}}</label>
            </div>
        </div>
        <div class="row">
            <a class="modal-trigger waves-effect waves-light btn btn-small">+</a>
            <a class="modal-trigger waves-effect waves-light btn right" (click)="addOrUpdate()">{{submitButtonText}}</a>
        </div>
    </form>
</div>
<app-preloader [loading]="loading"></app-preloader>