<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Question Management</h3>
    <blockquote>Question Management.</blockquote>
    <div class="margin-t-30"></div>
    <a class="modal-trigger waves-effect waves-light btn disabled" routerLink="/question/add">Add</a>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Content</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let question of questions;">
                <td>{{question.id}}</td>
                <td>{{question.content}}</td>
            </tr>
        </tbody>
    </table>
</div>