<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Customers</h3>
  <blockquote>Customers.</blockquote>
  <div class="margin-t-30"></div>

  <ul class="pagination">
    <li class="previous" [ngClass]="{'disabled' : page==1}"><a (click)="previousPage()"><i class="fa fa-angle-left"></i></a></li>
    <li class="page">{{page}}/{{totalPage}}</li>
    <li class="next" [ngClass]="{'disabled' : page==totalPage}"><a (click)="nextPage()"><i class="fa fa-angle-right"></i></a></li>
  </ul>
  <table class="striped highlight responsive-table custom-table">
    <thead>
      <tr>
        <th class="th-avatar">Avatar</th>
        <th>Customer's Name</th>
        <th>Gender</th>
        <th>Number of visits</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let customer of customers; let i = index;">
        <td><span><img src="{{customer.avatarUrl}}" onError="this.src='/assets/images/no-image.png'" class="width-50"></span></td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.numerVisit}}</td>
      </tr>
    </tbody>
  </table>
</div>
