<div class="row">
  <div class="col s12 m12 l9">
    <div class="register-container">
      <div class="col s12">
        <h3>GOnJOY Service Provider Dashboard</h3>
      </div>
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <form #registerForm="ngForm">
              <div class="row">
                <div class="col s12 login-form-header">
                  <h3 class="border">REGISTER</h3>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-user prefix"></i>
                    <input id="username" type="text" name="username" class="validate" [(ngModel)]="provider.username" required minlength="5"
                      maxlength="20" pattern="[a-zA-Z0-9]*" #usernameV="ngModel">
                    <label for="username">Username</label>
                  </div>
                </div>
                <div class="col s10 push-s1">
                  <div *ngIf="usernameV.errors && (usernameV.dirty || usernameV.touched)" class="alert alert-danger">
                    <div [hidden]="!usernameV.errors.required">
                      <i class="fa fa-frown-o"></i> Username is required
                    </div>
                    <div [hidden]="!usernameV.errors.minlength">
                      <i class="fa fa-frown-o"></i> Username must be at least 5 characters.
                    </div>
                    <div [hidden]="!usernameV.errors.maxlength">
                      <i class="fa fa-frown-o"></i> Username cannot be more than 20 characters.
                    </div>
                    <div [hidden]="!usernameV.errors.pattern">
                      <i class="fa fa-frown-o"></i> Username must contain only letters and numbers (no space).
                    </div>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-lock prefix"></i>
                    <input id="password" type="password" name="password" class="validate" [(ngModel)]="provider.password" required minlength="6"
                      #passwordV="ngModel">
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="col s10 push-s1">
                  <div *ngIf="passwordV.errors && (passwordV.dirty || passwordV.touched)" class="alert alert-danger">
                    <div [hidden]="!passwordV.errors.required">
                      <i class="fa fa-frown-o"></i> Password is required
                    </div>
                    <div [hidden]="!passwordV.errors.minlength">
                      <i class="fa fa-frown-o"></i> Password must be at least 6 characters long.
                    </div>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-lock prefix"></i>
                    <input id="re-password" type="password" name="re-password" class="validate" [(ngModel)]="re_password">
                    <label for="re-password">Re-type password</label>
                  </div>
                </div>
                <div class="col s10 push-s1">
                  <div *ngIf="provider.password != re_password" class="alert alert-danger">
                      <i class="fa fa-frown-o"></i> Password and re-type password are not match.
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-cog prefix"></i>
                    <input id="name" type="text" name="name" class="validate" [(ngModel)]="provider.name" required minlength="6" #nameV="ngModel">
                    <label for="name">Name</label>
                  </div>
                </div>
                <div class="col s10 push-s1">
                  <div *ngIf="nameV.errors && (nameV.dirty || nameV.touched)" class="alert alert-danger">
                    <div [hidden]="!nameV.errors.required">
                      <i class="fa fa-frown-o"></i> Name is required
                    </div>
                    <div [hidden]="!nameV.errors.minlength">
                      <i class="fa fa-frown-o"></i> Name must be at least 6 characters.
                    </div>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-envelope prefix"></i>
                    <input id="email" type="text" name="email" class="validate" [(ngModel)]="provider.email" required #emailV="ngModel">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="col s10 push-s1">
                  <div *ngIf="emailV.errors && (emailV.dirty || emailV.touched)" class="alert alert-danger">
                    <div [hidden]="!emailV.errors.required">
                      <i class="fa fa-frown-o"></i> Email is required
                    </div>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-phone-square prefix"></i>
                    <input id="phone" type="text" name="phone" class="validate" [(ngModel)]="provider.tel">
                    <label for="phone">Telephone</label>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-address-card prefix"></i>
                    <input id="address" type="text" name="address" class="validate" [(ngModel)]="provider.address">
                    <label for="address">Address</label>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline input-left">
                    <i class="fa fa-key prefix"></i>
                    <input name="restriction" type="radio" id="full" [checked]="provider.restriction == 'Full'" (click)="provider.restriction = 'Full'"/>
                    <label for="full">Full Access</label>
                    <input name="restriction" type="radio" id="light" [checked]="provider.restriction == 'Light'" (click)="provider.restriction = 'Light'"/>
                    <label for="light">Light Access</label>
                  </div>
                </div>
                <div class="col s10 push-s1">
                  <button class="btn waves-effect waves-light margin-t-20" type="button" name="action" [disabled]="!registerForm.form.valid"
                    (click)="register()">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-preloader [loading]="loading"></app-preloader>
