<div class="col s12 m9 main-content">
  <h3 class="main-title">
    <i class="fa fa-hashtag"></i>&nbsp;{{'password' | translate}}</h3>
  <blockquote>{{'password' | translate}}.
  </blockquote>
  <div class="margin-b-20"></div>
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
          <form class="custom-form" #pwForm="ngForm">
            <div class="row">
              <div class=" col s12 m12">
                {{'old-password' | translate}}:
                <div class="input-field">
                  <input id="oldPassword" type="password" name="oldPassword" [(ngModel)]="oldPassword" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col s12 m12">
                {{'new-password' | translate}}:
                <div class="input-field">
                  <input id="newPassword" class="validate" type="password" name="newPassword" [(ngModel)]="newPassword" required minlength="6" #passwordV="ngModel">
                </div>
              </div>
              <div class="col s10 push-s1">
                  <div *ngIf="passwordV.errors && (passwordV.dirty || passwordV.touched)" class="alert alert-danger">
                    <div [hidden]="!passwordV.errors.required">
                      <i class="fa fa-frown-o"></i> {{ 'password-required' | translate}}
                    </div>
                    <div [hidden]="!passwordV.errors.minlength">
                      <i class="fa fa-frown-o"></i> {{ 'password-at-least-6' | translate}}
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class=" col s12 m12">
                {{'retype-new-password' | translate}}:
                <div class="input-field">
                  <input id="reNewPassword" type="password" name="reNewPassword" [(ngModel)]="reNewPassword" required>
                </div>
              </div>
              <div class="col s10 push-s1">
                  <div *ngIf="newPassword != reNewPassword" class="alert alert-danger">
                      <i class="fa fa-frown-o"></i> {{ 'password-retype-not-match' | translate }}
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                  <button class="btn waves-effect waves-light margin-t-20" type="button" name="action" [disabled]="!pwForm.form.valid || newPassword != reNewPassword"
                  (click)="change()">{{'change' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-preloader [loading]="loading"></app-preloader>
