<div id="dashboard">
  <div class="row">
    <div class="col s12 m8 l8">
      <div class="card">
        <div class="card-move-up waves-effect waves-block waves-light">
          <div class="move-up cyan darken-1">
            <span class="card-title white-text">Bad Comments</span>
          </div>
        </div>
        <div class="card-content">
          <blockquote>{{today}}</blockquote>
          <div class="margin-t-15"></div>
          <p *ngIf="badComments != undefined && badComments.length == 0">No bad comments today.</p>
          <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
            <li *ngFor="let badComment of badComments; let i = index;">
              <div class="collapsible-header">
                <a class="collection-item">
                  <span class="badge">{{badComment.comments.length}}</span>{{badComment.name}}</a>
              </div>
              <div class="collapsible-body">
                <ul class="collection">
                  <li class="collection-item avatar" *ngFor="let comment of badComment.comments; let i = index;">
                    <img src="{{comment.userImgUrt}}" alt="" class="circle">
                    <span class="title">{{comment.userName}}</span>
                    <p>{{comment.comment}}</p>
                    <div class="row">
                      <div class="col s4">
                        <a href="#reponseClientModal" (click)="onClickReponse(true,comment)">
                          <span>
                            <i class="fa fa-commenting-o" aria-hidden="true">Sorry client</i>
                          </span>
                        </a>
                        <!-- {{comment.isSentCus}}                                                                                     -->
                        <span *ngIf="comment.isSentCus==true">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="col s1">
                      </div>
                      <div class="col s7">
                        <a href="#reponseClientModal" (click)="onClickReponse(false,comment)">
                          <span *ngIf="comment.staff">
                            <i class="fa fa-commenting-o" aria-hidden="true">Contact staff ({{comment.staff.name}})</i>
                          </span>
                        </a>
                        <span *ngIf="comment.isSentStaff==true">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-move-up waves-effect waves-block waves-light">
          <div class="move-up cyan darken-1">
            <span class="card-title white-text">Statistics</span>
          </div>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col s8 m8 l8">
              Bills
            </div>
            <div class="col s4 m4 l4">
              <span class="bold">{{informations?.bill}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col s8 m8 l8">
              Feedbacks
            </div>
            <div class="col s4 m4 l4">
              <span class="bold">{{informations?.feedback}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col s8 m8 l8">
              New customers
            </div>
            <div class="col s4 m4 l4">
              <span class="bold">{{informations?.newUser}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col s8 m8 l8">
              Bad Comments
            </div>
            <div class="col s4 m4 l4">
              <span class="bold">{{informations?.badComment}} </span>
            </div>
          </div>
        </div>

        <div class="card-reveal">
        </div>
      </div>
    </div>

    <div class="col s12 m12 l12">
      <div id="report" class="card">
        <div class="card-move-up waves-effect waves-block waves-light">
          <div class="move-up cyan darken-1">
            <span class="card-title white-text">Overall Reports</span>
          </div>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="row">
                <div class="col s12">
                  <ul class="tabs tab-overall" materialize="tabs">
                    <li class="tab col s2">
                      <a class="active" href="#daily">Daily</a>
                    </li>
                    <li class="tab col s2">
                      <a href="#weekly">Weekly</a>
                    </li>
                  </ul>
                </div>
                <div class="col s12">
                  <div id="daily" class="col s12">
                    <div *ngIf="reportDaily">
                      <blockquote>{{reportDaily.day}}</blockquote>
                      <div class="margin-t-15"></div>
                      <div class="dailyComment" *ngFor="let report of reportDaily.listReport; let i = index;">
                        <i class="fa fa-smile-o" aria-hidden="true" *ngIf="report[0]==1" style="color: #4caf50;"></i>
                        <i class="fa fa-meh-o" aria-hidden="true" *ngIf="report[0]==0" style="color:  #fdc141;"></i>
                        <i class="fa fa-frown-o" aria-hidden="true" *ngIf="report[0]==-1" style="color: #f7665b;"></i>
                        <span>{{report[1]}}</span>
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="report[2]>0" style="color: #4caf50;margin-bottom: -10px;"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="report[2]<0" style="color: #f7665b;margin-top: -12px;"></i>
                        <i class="fa fa-caret-right fa-caret-down-orange" aria-hidden="true" *ngIf="report[2]==0" style="color:  #fdc141;"></i>
                        <span *ngIf="report[2]>0">(+{{report[2]}})</span>
                        <span *ngIf="report[2]<0">({{report[2]}})</span>
                        <span *ngIf="report[2]==0">({{report[2]}})</span>
                      </div>
                    </div>
                  </div>
                  <div id="weekly" class="col s12">
                    <div *ngIf="reportWeek">
                      <blockquote>From {{reportWeek.firstday}} to {{reportWeek.lastDay}}</blockquote>
                      <div class="margin-t-15"></div>
                      <div class="weekComment" *ngFor="let report of reportWeek.listReport; let i = index;">
                        <i class="fa fa-smile-o" aria-hidden="true" *ngIf="report[0]==1" style="color: #4caf50;"></i>
                        <i class="fa fa-meh-o" aria-hidden="true" *ngIf="report[0]==0" style="color:  #fdc141;"></i>
                        <i class="fa fa-frown-o" aria-hidden="true" *ngIf="report[0]==-1" style="color: #f7665b;"></i>
                        <span>{{report[1]}}</span>
                        <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="report[2]>0" style="color: #4caf50;margin-bottom: -10px;"></i>
                        <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="report[2]<0" style="color: #f7665b;margin-top: -12px;"></i>
                        <i class="fa fa-caret-right fa-caret-down-orange" aria-hidden="true" *ngIf="report[2]==0" style="color:  #fdc141;"></i>
                        <span *ngIf="report[2]>0">(+{{report[2]}})</span>
                        <span *ngIf="report[2]<0">({{report[2]}})</span>
                        <span *ngIf="report[2]==0">({{report[2]}})</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-content blue-grey white-text center-align">
          <p class="card-stats-title">
            <i class="mdi-action-trending-up"></i> Coins</p>
          <h4 class="card-stats-number">{{provider.coin}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
      <span class="italic">Quick actions:</span> &emsp;
      <a class="modal-trigger waves-effect waves-light h-underline" routerLink="/password">
        <i class="fa fa-eye-slash"></i> &nbsp;Change password</a>&emsp;
      <a class="modal-trigger waves-effect waves-light h-underline" routerLink="/gift/import">
        <i class="fa fa-gift"></i> &nbsp;Import gift</a>
    </div>
  </div>
</div>

<div id="reponseClientModal" class="reponseClientModal modal" materialize="modal">
  <div class="modal-header">
    <div class="row">
      <h4>Message</h4>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col s12 12">
        <div class="input-field inline">
          <input id="message" placeholder="Message" type="text" name="message" [(ngModel)]="message" (keyup.enter)="pressEnterKey()"
            required>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" id="btnSend" (click)="sendMessage()">Send</a>
  </div>
</div>
