<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Add Staff</h3>
    <blockquote>Scan code to add staff.</blockquote>
    <div class="margin-t-30"></div>
    
    <div class="row">
        <div class="qr-modal" modalClass="qr-modal">
            <div class="modal-content">
                <img [src]="messengerCodeUri" alt="MESSENGER Code Here" id="qrCode" class="full-width" />
                <hr>
                <span>This code will be expired in 15 minutes.</span>
            </div>
            <div>
                <button class="btn btn-primary" (click)="back()">okay!</button>
            </div>
        </div>
    </div>
</div>
