<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Staff Management</h3>
  <blockquote>Staff Management.
  </blockquote>
  <div class="margin-t-30"></div>
  <a class="modal-trigger waves-effect waves-light btn" routerLink="/staff/add">Add</a>
  <table class="responsive-table striped highlight">
      <thead>
          <tr>
              <th>Name</th>
              <th>Delete</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let staff of staffs; let i = index;">
              <td>{{staff.name}}</td>
              <td><i class="fa fa-trash" aria-hidden="true" (click)="delete(staff)"></i></td>
          </tr>
      </tbody>
  </table>
</div>