<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <ul class="site-user right hide-on-med-and-down show-on-med-and-up">
          <li>
            <div class="row">
              <div class="col col s4 m4 l4">
                <img src="assets/images/logo.png" alt="GOnJOY's logo">
              </div>
              <div class="col col s8 m8 l8">
               
                <ul id="profile-dropdown" class="dropdown-content">
                  <li>
                    <a (click)="logout()">
                      <i class="mdi-hardware-keyboard-tab"></i> {{'logout' | translate}}</a>
                  </li>
                </ul>
                <a materialize="dropdown" class="btn-flat dropdown-button waves-effect waves-light profile-btn" href="#" data-activates="profile-dropdown">
                    {{provider.name}}
                    <i class="fa fa-angle-right right"></i>
                  </a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="site-user right show-on-med-and-down hide-on-med-and-up">
          <li>
            <div class="row">
              <div class="col col s4 m4 l4">
                <img src="assets/images/logo.png" alt="GOnJOY's logo">
              </div>
              <div class="col col s8 m8 l8">
                <ul id="profile-dropdown-sm" class="dropdown-content">
                  <li>
                    <a (click)="logout()">
                      <i class="mdi-hardware-keyboard-tab"></i> {{'logout' | translate}}</a>
                  </li>
                </ul>
                <a materialize="dropdown" class="btn-flat dropdown-button waves-effect waves-light profile-btn right" href="#" data-activates="profile-dropdown-sm">
                  <i class="fa fa-sign-out"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>