<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;History</h3>
    <blockquote>Statistic.</blockquote>
    <div class="margin-t-30"></div>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Customer Name</th>
                <th>Bill number</th>
                <th>Discount percent</th>
                <th>Satisfaction</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let history of histories; let i = index;">
                <td>{{i+1}}</td>
                <td>{{history.customerName}}</td>
                <td>{{history.billNo}}</td>
                <td>{{history.percent}}</td>
                <td>{{history.satisfaction}}</td>
                <td>{{history.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>