<div class="row">
  <div class="col s12 m12 l9">
    <div class="login-container">
      <div class="col s12">
        <img src="assets/images/logo_c.png" class="logo">
        <h3>GOnJOY Service Provider Dashboard</h3>
      </div>
      <div class="col m8 push-m2">
        <div class="card cyan darken-1">
          <div class="card-content">
            <form class="login-form" #loginForm="ngForm">
              <div class="row">
                <div class="col s12">
                  <div class="input-field inline">
                    <i class="fa fa-user prefix"></i>
                    <input id="username" type="text" class="validate" [(ngModel)]="username" name="username" required>
                    <label for="username">Username</label>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline">
                    <i class="fa fa-lock prefix"></i>
                    <input id="password" type="password" class="validate" [(ngModel)]="password" name="password" required>
                    <label for="password">Password</label>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field inline">
                    <button class="btn waves-effect waves-light margin-t-20" type="submit" name="action" (click)="login()" [disabled]="!loginForm.form.valid">
                      Login &nbsp;
                      <i class="fa fa-sign-in"></i>
                    </button>
                  </div>
                </div>
                <div class="col s12 margin-t-20">
                  <a class="modal-trigger waves-effect waves-light right action-text" routerLink="/password/forgot">Forgot password</a> 
                  <a class="modal-trigger waves-effect waves-light right action-text" routerLink="/register">Register</a>&emsp;
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-preloader [loading]="loading"></app-preloader>
