<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;History</h3>
    <blockquote>Gift history.</blockquote>
    <div class="margin-t-30"></div>
  
    <ul class="pagination">
      <li class="previous" [ngClass]="{'disabled' : page==1}"><a (click)="previousPage()"><i class="fa fa-angle-left"></i></a></li>
      <li class="page">{{page}}/{{totalPage}}</li>
      <li class="next" [ngClass]="{'disabled' : page==totalPage}"><a (click)="nextPage()"><i class="fa fa-angle-right"></i></a></li>
    </ul>
    <table class="striped highlight responsive-table">
      <thead>
        <tr>
          <th>Customer's Name</th>
          <th>Gift</th>
          <th>Code</th>     
          <th>Status</th>   
          <th>Date</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let item of gifts; let i = index;">
          <td>{{item.customer?.name}}</td>
          <td>{{item.providerGift?.name}}</td>
          <td>{{item.giftCode}}</td>
          <td>{{item.status}}</td>
          <td>{{item.updatedAt | date:'dd/MM/yyyy'}} {{item.updatedAt | date: 'shortTime'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row">
    <!-- Modal Structure -->
    <div id="feedbackModal" class="modal" materialize="modal">
      <div class="modal-content">
        <div class="col s12 m12">
            <h4>Nhà hàng của chúng tôi cần cải thiện?</h4>
            <div *ngIf="detail == null || detail.report == null || detail.report.ces == null">
              <i>No data found.</i>
            </div>
            <div *ngIf="detail != null && detail.report != null && detail.report.ces != null">
              <ul class="ces">
                <li *ngFor="let ces of detail?.report.ces | orderBy : ['criteriaId']">
                  <div *ngFor="let q of criterions">
                    <div *ngIf="ces.criteriaId == q.id && ces.value == 1">
                      <span class="ces-header tag tag-yellow">{{q.name}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clear clearfix"></div>
            <div class="row"></div>
          </div>
          <div class="col s12 m12">
            <h4>Khách hàng đánh giá chúng tôi thế nào với mỗi tiêu chí?</h4>
            <div *ngIf="detail == null || detail.report == null || detail.report.rank == null || detail.report.rank.length == 0">
              <i>No data found.</i>
            </div>
            <div *ngIf="detail != null && detail.report != null && detail.report.rank != null">
              <ul>
                <li *ngFor="let rank of detail?.report.rank | orderBy : ['criteriaId']">
                  <div class="left margin-r-10" *ngFor="let q of criterions">
                    <div *ngIf="rank.criteriaId == q.id">
                      <span>{{q.id}}</span> - <span class="italic">({{q.name}})</span> -
                      <span>{{q.rankQuestion}}</span>
                    </div>
                  </div>
                  <div *ngFor="let op of options">
                    <div *ngIf="rank.value == op.value">
                      <span class="bold">{{op.content}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>
  </div>
  