<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Enter gift code</h3>
  <blockquote>Enter gift code to get discount for customer.</blockquote>
  <div class="margin-b-20"></div>
  <div id="bill-form">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <form class="center-align">
              <div class="input-field">
                <input class="center-align" style="font-size: 1.7rem;" id="code" name="bill" type="text" [(ngModel)]="giftCode" required
                />
                <label for="bill">Value</label>
                <div class="margin-t-20"></div>
                <a class="modal-trigger waves-effect waves-light btn" (click)="getGiftCode()" href="#giftModal" [ngClass]="{'disabled' : giftCode==undefined || giftCode == ''}">
                        Submit
                    </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <!-- Modal Structure -->
  <div id="giftModal" class="modal" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-header">
      Gift's information
    </div>
    <div class="modal-content">
      <div class="row" *ngIf="gift != undefined && gift.providerGift != undefined">
        <div class="col s12 m4">
          <img src="{{staticUrl}}/public/img/upload/gift/{{gift.providerGift.thumbnail}}" onError="this.src='/assets/images/no-image.png'"
            class="responsive-img" />
        </div>
        <div class="col s12 m8">
          <h4>{{gift.providerGift.name}}</h4>
          <hr>
          <div class="row">
            <div class="col s4 m4"><b>Expire Date</b></div>
            <div class="col s7 m7">{{gift.providerGift.expireDate | date:'dd/MM/yyyy'}}</div>
          </div>
          <div class="row">
            <div class="col s4 m4"><b>Status</b></div>
            <div class="col s7 m7">
              <p *ngIf="gift.status=='Available'">
                <span *ngIf="gift.isExpired">
                      <span class="tag tag-dark">Expired</span>
                </span>
                <span *ngIf="!gift.isExpired">
                      <span class="tag tag-blue">Available</span>
                </span>
              </p>
              <p *ngIf="gift.status == 'Used'">
                <span class="tag tag-yellow">Used</span>
              </p>
              <!-- <span class="tag" [ngClass]="{'tag-blue': gift.status =='Available', 'tag-yellow': gift.status == 'Used'}"></span>{{gift.status}}</div> -->
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a *ngIf="!gift.isExpired && gift.status != 'Used'" class="modal-action waves-effect waves-green btn-flat" (click)="useGiftCode()">Use it</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  </div>