<div class="col s12 m9 main-content">
  <h3 class="main-title">
    <i class="fa fa-hashtag"></i>&nbsp;Gift Management</h3>
  <blockquote>Add new gift item.
  </blockquote>
  <div class="margin-t-30"></div>
  <form class="col s10 custom-form" [formGroup]="createForm">
    <div class="row">
      <div class="col s12 m5">
        Type:
        <div class="input-field inline">
          <select materialize="material_select" name="giftType" [(ngModel)]="item.type" (ngModelChange)="changeType(item)" [ngModelOptions]="{standalone:true}">
            <option value="Normal" selected>Normal</option>
            <option value="Free">Free gift</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col s12 m7">
        Name:
        <div class="input-field inline">
          <input id="name" placeholder="Item's name" type="text" name="name" [(ngModel)]="item.name" formControlName="name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col s12 m7">
        Thumbail:
        <div class="file-field input-field inline">
          <div class="btn btn-small">
            <span>
              <i class="fa fa-upload"></i>
            </span>
            <input type="file" (change)="fileChange($event)" placeholder="Only accept image" accept="image/*">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Only accept png image">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        Coin:
        <div class="input-field inline">
          <input placeholder="500" id="rate" type="number" name="price" [readonly]="isFree" [(ngModel)]="item.coin" min="1" max="{{maxCoin}}" formControlName="coin"
            required>
        </div>
      </div>
      <div class="col s12 m6">
        Amount:
        <div class="input-field inline">
          <input placeholder="2" id="amount" type="number" name="amount" [readonly]="isFree" [(ngModel)]="item.amount" formControlName="amount" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        Total:
        <div class="input-field inline">
          <input placeholder="0" id="amount" type="number" name="amount" value="{{item.coin*item.amount}}" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        Expires Date:
        <div class="input-field inline">
          <input materialize="pickadate" [materializeParams]="[{format: 'dd-mm-yyyy'}]" type="text" class="datepicker" name="expireDate"
            [(ngModel)]="item.expireDate" formControlName="expireDate" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="modal-trigger waves-effect waves-light btn" (click)="addOrUpdate()" [ngClass]="{'disabled' : !createForm.valid}">{{submitButtonText}}</a>
      </div>
    </div>
  </form>
</div>
<app-preloader [loading]="loading"></app-preloader>