<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Gift Management</h3>
  <blockquote>Gift Management.
  </blockquote>
  <div class="margin-t-30"></div>
  <a class="modal-trigger waves-effect waves-light btn" routerLink="/gift/add">Add</a>
  <ul class="pagination">
    <li class="previous" [ngClass]="{'disabled' : page==1}"><a (click)="previousPage()"><i class="fa fa-angle-left"></i></a></li>
    <li class="page">{{page}}/{{totalPage}}</li>
    <li class="next" [ngClass]="{'disabled' : page==totalPage}"><a (click)="nextPage()"><i class="fa fa-angle-right"></i></a></li>
  </ul>
  <table class="responsive-table striped custom-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Code</th>
        <th>Name</th>
        <th>Thumnail</th>
        <th>Coin</th>
        <th>Amount</th>
        <th>Expire Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of gifts;">
        <td *ngIf="item.type != undefined && item.type != null">{{item.type}}</td>
        <td *ngIf="item.type == undefined || item.type == null">Normal</td>
        <td *ngIf="item.code != undefined && item.code != null">{{item.code}}</td>
        <td *ngIf="item.code == undefined || item.code == null">N/A</td>
        <td>{{item.name}}</td>
        <td>
          <span><img src="{{staticUrl}}/public/img/upload/gift/{{item.thumbnail}}" onError="this.src='/assets/images/no-image.png'" class="width-50"></span>
        </td>
        <td>{{item.coin}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.expireDate | date: 'dd-MM-yyyy' }}</td>
        <td>{{item.status}}</td>
        <td>
          <a [routerLink]="['/gift', item._id]"><i class="fa fa-pencil"></i></a> &nbsp;
          <a (click)="delete(item)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="row">
  <modal #DeleteModal [hideCloseButton]="true" class="cm-modal" modalClass="cm-modal">
    <modal-header class="modal-header">
      <h4>Wanna delete?</h4>
    </modal-header>
    <modal-content class="modal-content">
      Are you sure to delete this item?
      <hr>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="DeleteModal.close()">Yes</button>
      <button class="btn btn-primary" (click)="DeleteModal.close()">No</button>
    </modal-footer>
  </modal>
</div> -->
