<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Cusomize Management</h3>
  <blockquote>Customize - Question Bank Management.
  </blockquote>
  <div class="margin-t-30"></div>
  <a class="modal-trigger waves-effect waves-light btn" routerLink="/qbank/add">Add</a>
  <table class="responsive-table striped custom-table">
    <thead>
      <tr>
        <th>Content</th>
        <th>Answers</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of qbank;">
        <td>{{item.content}}</td>
        <td>
          <p *ngFor="let ans of item.answers">
            <span *ngIf="ans.isCorrect" class="tag tag-green"><i class="fa fa-check"></i></span>
            <span *ngIf="!ans.isCorrect" class="tag tag-yellow"><i class="fa fa-close"></i>&nbsp;</span>
            <span *ngIf="!ans.isImage">{{ans.content}}</span>
            <img *ngIf="ans.isImage" src="{{staticUrl}}/public/img/upload/qbank/{{ans.content}}" onError="this.src='/assets/images/no-image.png'" class="width-50">
          </p>
        </td>
        <td>
          <span *ngIf="!item.isDeleted"><i class="fa fa-check-square-o"></i></span>
          <span *ngIf="item.isDeleted"><i class="fa fa-close"></i></span>
        </td>
        <td>
          <a [routerLink]="['/qbank', item._id]"><i class="fa fa-pencil"></i></a> &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>
