<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Customize Management</h3>
  <blockquote>Add new question for customize.
  </blockquote>
  <div class="margin-t-30"></div>
  <form class="col s10 custom-form" [formGroup]="createForm">
    <div class="row">
      <div class=" col s12 m12">
        Content:
        <div class="input-field">
          <input id="content" placeholder="Ví dụ: Nhà hàng có chương trình khuyến mãi vào thứ mấy?" type="text" name="content" [(ngModel)]="item.content"
          formControlName="content" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m5">
        Answer:
        <div class="input-field inline">
          <select materialize="material_select" name="answerType" [(ngModel)]="answerType" [ngModelOptions]="{standalone:true}">
                <option value="1" selected>Text</option>
                <option value="2">Image</option>
            </select>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="answerType == 1">
      <div class="col s12 m12">
        <div class="col s7 m9">
          <div class="input-field ">
            <input id="answerContent" placeholder="Answer 1" type="text" name="answerContent" [(ngModel)]="answer1.content" [ngModelOptions]="{standalone:true}" required>
          </div>
        </div>
        <div class="col s5 m3">
          <div class="input-field ">
            <input type="checkbox" id="isCorrect" [(ngModel)]="answer1.isCorrect" [ngModelOptions]="{standalone:true}" name="isCorrect" />
            <label for="isCorrect">{{answer1.isCorrect}}</label>
          </div>
        </div>
      </div>
      <div class="col s12 m12">
        <div class="col s7 m9">
          <div class="input-field ">
            <input id="answerContent2" placeholder="Answer 2" type="text" name="answerContent2" [(ngModel)]="answer2.content" [ngModelOptions]="{standalone:true}" required>
          </div>
        </div>
        <div class="col s5 m3">
          <div class="input-field ">
            <input type="checkbox" id="isCorrect2" [(ngModel)]="answer2.isCorrect" [ngModelOptions]="{standalone:true}" name="isCorrect2" />
            <label for="isCorrect2">{{answer2.isCorrect}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="answerType == 2">
      <div class="col s12 m12">
        <div class="col s7 m9">
          <div class="input-field file-field">
            <div class="btn btn-small">
              <span>File</span>
              <input type="file" (change)="fileChange($event)" placeholder="Only accept png image" accept=".png">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Image 1">
            </div>
          </div>
        </div>
        <div class="col s5 m3">
          <div class="input-field ">
            <input type="checkbox" id="isCorrect" [(ngModel)]="answer1.isCorrect" [ngModelOptions]="{standalone:true}" name="isCorrect" />
            <label for="isCorrect">{{answer1.isCorrect}}</label>
          </div>
        </div>
      </div>
      <div class="col s12 m12">
          <div class="col s7 m9">
            <div class="input-field file-field">
              <div class="btn btn-small">
                <span>File</span>
                <input type="file" (change)="fileChange($event)" placeholder="Only accept png image" accept=".png">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Image 2">
              </div>
            </div>
          </div>
          <div class="col s5 m3">
            <div class="input-field ">
              <input type="checkbox" id="isCorrect" [(ngModel)]="answer2.isCorrect" [ngModelOptions]="{standalone:true}" name="isCorrect" />
              <label for="isCorrect">{{answer2.isCorrect}}</label>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <a class="modal-trigger waves-effect waves-light btn" (click)="addOrUpdate()" [ngClass]="{'disabled' : !createForm.valid}">{{submitButtonText}}</a>
      </div>
    </div>
  </form>
</div>
<app-preloader [loading]="loading"></app-preloader>
