<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.14/c3.min.css">

<div class="col s12 m12 main-content" id="chartComponent" *ngIf="chart">
    
    <div class="col s12 m12 z-depth-4">
        <div class="row">
        <div class="col s9 m9" *ngIf="chart.type=='extra'; else titleTopBlock " >
              <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{chart.name}}</h3>
              <blockquote>{{chart.blockquote}}</blockquote>
        </div>
        <div class="col s3 m3" *ngIf="noteDetail.show==true">
                            <a class="fa fa-circle icon-backgroundGood">{{noteDetail.good}}</a>
                            <a class="fa fa-circle icon-backgroundNormal">{{noteDetail.normal}}</a>
                            <a class="fa fa-circle icon-backgroundBad">{{noteDetail.bad}}</a>
        </div>
        </div>
        <div class="margin-t-5"></div>
         <div class="row" *ngIf="isExtra; else elseBlock">
                 <div id="idDonutChartDetail" class="col s6 m6" style="height: 300px; padding-left: 0;"></div> 
                 <div id="idBarChartDetail" class="col s6 m6" style="height: 300px; padding-left: 0px; border-left: 1px solid"></div>
         </div>
    	 <ng-template #elseBlock><div class="row">
                 <div id="WeekScoreDonutDetail" class="col s6 m6" style="height: 300px; padding-left: 0;">
                     <div class="clValueCES"></div>
                 </div> 
                 <div id="WeekScoreBarDetail" class="col s6 m6" style="height: 300px; padding-left: 0px; border-left: 1px solid "></div>
         </div></ng-template>
    </div>
        <div class="row"></div>
    <div class="col s12 m12 z-depth-4">
        <div class="row">
        <div class="col s9 m9" *ngIf="chart.type=='extra'; else titleNBottomBlock ">
        <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{chartDetail.name}}</h3>
        <blockquote>{{chartDetail.blockquote}}</blockquote>
        </div>
        </div>
        <div class="margin-t-5"></div>
         <div id="ExtraScoreWeekDetail" *ngIf="isExtra; else ScoreBlock"></div>
        <ng-template #ScoreBlock><div id="WeekScoreChartDetail"></div></ng-template>
    </div>
    <ng-template #titleTopBlock>
        <div class="col s9 m9">
             <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{chartDetail.name}}</h3>
             <blockquote>{{chartDetail.blockquote}}</blockquote>
        </div>    
    </ng-template>
    <ng-template #titleNBottomBlock>   
        <div class="col s9 m9">
            <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{chart.name}}</h3>
            <blockquote>{{chart.blockquote}}</blockquote>
        </div>    
    </ng-template>

</div>