<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Criterion Management</h3>
  <blockquote>Criterion Management. <br> Minimum: 4 active criterions, Maximum: 8 active criterions
  </blockquote>
  <div class="margin-t-30"></div>
  <form class="col s10 custom-form" [formGroup]="createForm">
    <div class="row">
      <div class="col s12 m7">
        <div class="input-field inline">
          <select materialize="material_select" name="name" [(ngModel)]="type" [ngModelOptions]="{standalone:true}" (ngModelChange)="bindingData(type)">
                <option value="" disabled selected>Choose criterion type</option>
                <option value="Food">Food</option>
                <option value="Service">Service</option>
                <option value="Price">Price</option>
                <option value="Others">Others</option>
            </select>
          <label>Type</label>
        </div>
      </div>
    </div>
    <div *ngIf="type != undefined">
      <div class="row">
        <div class="col s12 m7" [hidden]="isFixedCriterion">
          Name:
          <div class="input-field inline">
            <input id="name" placeholder="Name" type="text" name="name" [(ngModel)]="criterion.name" formControlName="name" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          Question:
          <div class="input-field inline">
            <input id="rank_question" placeholder="Rank question" type="text" name="rankQuestion" [(ngModel)]="criterion.rankQuestion"
              formControlName="rankQuestion" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          Weightage:
          <div class="input-field inline">
            <input id="weightage" readonly class="readonly" placeholder="Weightage" type="text" name="weightage" [(ngModel)]="criterion.weightage"
              [ngModelOptions]="{standalone:true}" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field ">
            <select materialize="material_select" name="iconSelection" [(ngModel)]="iconSelection" [ngModelOptions]="{standalone:true}">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Choose from library</option>
                    <option value="2">Upload...</option>
                </select>
            <label>Icon</label>
          </div>
        </div>
        <div class="col s12 m6" *ngIf="iconSelection == 1">
          <div class="input-field ">
            <select materialize="material_select" class="icons" [(ngModel)]="criterion.iconName" name="icons" [ngModelOptions]="{standalone:true}"
              required>
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor="let icon of icons" [value]="icon" [attr.data-icon]="'assets/images/icons/'+ icon" class="left">{{icon}}</option>
                </select>
            <label for="icons">Icon</label>
          </div>
        </div>
        <div class="col s12 m6" *ngIf="iconSelection == 2">
          <div class="input-field file-field">
            <div class="btn btn-small">
              <span>File</span>
              <input type="file" (change)="fileChange($event)" placeholder="Only accept png image" accept=".png" name="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" name="filePath">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6" [hidden]="isFixedCriterion">
          <div class="input-field ">
            <input type="checkbox" id="active" checked="checked" [(ngModel)]="criterion.active" name="active" [ngModelOptions]="{standalone:true}"
              (ngModelChange)="getWeightage(criterion.active)" />
            <label for="active">Active</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="input-field ">
          <a class="modal-trigger waves-effect waves-light btn" (click)="addOrUpdate()">{{submitButtonText}}</a>
        </div>
      </div>
    </div>
  </form>
</div>
<app-preloader [loading]="loading"></app-preloader>
