<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Criterion Management</h3>
    <blockquote>Criterion Management. <br> Minimum: 4 active criterions, Maximum: 8 active criterions
    </blockquote>
    <div class="margin-t-30"></div>
    <a class="modal-trigger waves-effect waves-light btn disabled" routerLink="/criterion/add">Add</a>
    <table class="responsive-table striped custom-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rank question</th>
                <th>Icon</th>
                <th>Weightage</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of criterions;">
                <td>{{item.name}}</td>
                <td>{{item.rankQuestion}}</td>
                <td>
                    <span *ngIf="!item.isUpload"><img src="assets/images/icons/{{item.iconName}}" class="width-50"></span>
                    <span *ngIf="item.isUpload"><img src="{{staticUrl}}/public/img/upload/criteria/{{item.iconName}}" class="width-50"></span>
                </td>
                <td>{{item.weightage}}</td>
                <td>
                    <span *ngIf="item.active == true"><i class="fa fa-check-square-o"></i></span>
                    <span *ngIf="item.active != true"><i class="fa fa-close"></i></span>
                </td>
                <td>
                    <!-- <a [routerLink]="['/criterion', item._id]"><i class="fa fa-pencil"></i></a> &nbsp; -->
                    <!-- <a (click)="deleteCriterion(item)"><i class="fa fa-trash"></i></a> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>