footer#page {
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 10px;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: #0097a7 !important;
    font-weight: 300;
}