.collapsible-header i {
    display: inline-block;
    float: none;
    margin-right: 0; 
    font-size: 1rem;
}

.collapsible-header.disabled span {
    color: #ccc;
    font-style: italic;
}

.collapsible-body ul li span{
    display: inline-block;
}

ul.ces li{
    float: left;
    margin-right: 20px;
}

ul.ces li .ces-header{
    font-weight: bold;
}

ul.ces li .ces-value{
    padding: 3px 10px;
}

span:hover{
    text-decoration: none;
    font-style: normal;
}

.modal .modal-content h4{
    font-size: 18px;
    border-bottom: 1px #d3d3d3 solid;
    letter-spacing: 2px;
}