#mobile-nav{
    position: absolute;
    top: 10px;
    left: 0;
}

#mobile-nav .dropdown-button{
    box-shadow: none;
    background: #039be5;
}

#mobile-nav .dropdown-content{
    width: 225px !important;
    top: -10px !important;
}

.site-logo{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}