<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation" (click)="showSidenav($event)">
    <li class="site-logo cyan darken-2" [style.background-image]="image">
      <!-- <div class="row">
        <div class="col col s12 m12">
          <a href="http://gonjoy.io/">
            <img src="assets/images/logo_w.png" alt="GOnJOY's logo">
          </a>
          <span>Đây là tài sản của công ty
            <b>M&AI</b>, đã đăng ký</span>
          <br>
          <span>quyền sở hữu trí tuệ số 57187/QĐ-SHTT</span>
        </div>
      </div> -->
      <div class="mask">
        <h3>{{provider.name}}</h3>
      </div>
    </li>
    <li *ngIf="hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'home'}">
      <a routerLink="/home" class="waves-effect waves-cyan clickable">
        <i class="fa fa-home"></i> {{ 'home' | translate}}</a>
    </li>
    <li *ngIf="!hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'information'}">
      <a routerLink="/information" class="waves-effect waves-cyan clickable">
        <i class="fa fa-info-circle"></i> {{ 'home' | translate}}</a>
    </li>
    <li *ngIf="hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'bill'}">
      <a routerLink="/bill" class="waves-effect waves-cyan clickable">
        <i class="fa fa-braille"></i> Generate Code</a>
    </li>
    <li *ngIf="hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'asset'}">
      <a routerLink="/asset" class="waves-effect waves-cyan clickable">
        <i class="fa fa-money"></i> Buy Coin</a>
    </li>
    <li *ngIf="hasFullRestriction">
      <ul class="collapsible collapsible-accordion" materialize="collapsible">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-cyan">
            <i class="fa fa-newspaper-o"></i> Report</a>
          <div class="collapsible-body">
            <ul>
              <li [ngClass]="{'active': activeLink == 'feedback'}">
                <a routerLink="/feedback" class="clickable">
                  <i class="fa fa-comments-o"></i>Feedback</a>
              </li>
              <li [ngClass]="{'active': activeLink == 'chart'}">
                <a routerLink="/chart" class="clickable">
                  <i class="fa fa-bar-chart"></i>Chart</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="bold" [ngClass]="{'active': activeLink == 'promotion'}">
      <a routerLink="/promotion" class="waves-effect waves-cyan clickable">
        <i class="fa fa-certificate"></i> {{ 'promotion' | translate}}</a>
    </li>
    <li *ngIf="hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'staff'}">
      <a routerLink="/staff" class="waves-effect waves-cyan clickable">
        <i class="fa fa-users"></i> Staff</a>
    </li>
    <li *ngIf="hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'book'}">
      <a routerLink="/book" class="waves-effect waves-cyan clickable">
        <i class="fa fa-list-ul"></i> Reserved</a>
    </li>
    <li *ngIf="hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'customer'}">
      <a routerLink="/customer" class="waves-effect waves-cyan clickable">
        <i class="fa fa-user-secret"></i> Customer</a>
    </li>
    <li *ngIf="hasFullRestriction" class="no-padding">
      <ul class="collapsible collapsible-accordion" materialize="collapsible">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-cyan">
            <i class="fa fa-gift"></i> Gift</a>
          <div class="collapsible-body">
            <ul>
              <li [ngClass]="{'active': activeLink == 'gift'}">
                <a routerLink="/gift" class="clickable">
                  <i class="fa fa-bars"></i>List</a>
              </li>
              <li [ngClass]="{'active': activeLink == 'gift/import'}">
                <a routerLink="/gift/import" class="clickable">
                  <i class="fa fa-shopping-cart"></i>Import</a>
              </li>
              <li [ngClass]="{'active': activeLink == 'gift/history'}">
                <a routerLink="/gift/history" class="clickable">
                  <i class="fa fa-cart-plus"></i>History</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="bold" [ngClass]="{'active': activeLink == 'menu'}">
      <a routerLink="/menu" class="clickable">
        <i class="fa fa-bars"></i>{{ 'menu' | translate}}</a>
    </li>
    <li *ngIf="hasFullRestriction" class="no-padding">
      <ul class="collapsible collapsible-accordion" materialize="collapsible">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-cyan">
            <i class="fa fa-gears"></i> Game Setting</a>
          <div class="collapsible-body">
            <ul>
              <li [ngClass]="{'active': activeLink == 'discount'}">
                <a routerLink="/discount" class="clickable">
                  <i class="fa fa-ticket"></i>Discount</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li *ngIf="hasFullRestriction" class="bold" [ngClass]="{'active': activeLink == 'information'}">
      <a routerLink="/information" class="waves-effect waves-cyan clickable">
        <i class="fa fa-info-circle"></i> Information</a>
    </li>
  </ul>
  <a href="#" materialize="sideNav" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan">
    <i class="fa fa-align-justify"></i>
  </a>
</aside>