<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Discount Management</h3>
    <blockquote>Update a discount.
    </blockquote>
    <div class="margin-t-30"></div>
    <form class="col s10 custom-form">
      <div class="row">
        <div class=" col s12 m6">
          Correct questions:
          <div class="input-field inline">
            <input id="nCorrect" class="width-100" type="number" name="nCorrect" [(ngModel)]="item.nCorrect" disabled>
          </div>
        </div>
        <div class=" col s12 m4">
            Percent:
            <div class="input-field inline">
              <input id="percent" class="width-100" type="number" name="percent" [(ngModel)]="item.percent" disabled>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          Coin:
          <div class="input-field inline">
            <input placeholder="500" class="width-100" id="coin" type="number" name="price" [(ngModel)]="item.coin" min="1" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
            Expression:
            <div class="input-field inline">
              <input placeholder="2" id="expression" type="text" name="amount" [(ngModel)]="item.expression" required>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="modal-trigger waves-effect waves-light btn" (click)="addOrUpdate()">Save</a>
        </div>
      </div>
    </form>
  </div>
  <app-preloader [loading]="loading"></app-preloader>
  