<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Discount Management</h3>
    <blockquote>Discount Management.</blockquote>
    <div class="margin-t-30"></div>
    <h5 class="discount-title"><i class="fa fa-exclamation-circle"></i>&nbsp;CES</h5>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>Correct questions</th>
                <th>Coin</th>
                <th>Expression</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of ces;">
                <td>{{item.nCorrect}}</td>
                <td>{{item.coin}}</td>
                <td>{{item.expression}}</td>
                <td><a [routerLink]="['/discount', item._id]"><i class="fa fa-pencil"></i></a> &nbsp;</td>
            </tr>
        </tbody>
    </table>
    <div class="margin-t-30"></div>
    <h5 class="discount-title"><i class="fa fa-exclamation-circle"></i>&nbsp;RANK</h5>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>Correct questions</th>
                <th>Coin</th>
                <th>Expression</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of rank;">
                <td>{{item.nCorrect}}</td>
                <td>{{item.coin}}</td>
                <td>{{item.expression}}</td>
                <td><a [routerLink]="['/discount', item._id]"><i class="fa fa-pencil"></i></a> &nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>