<div *ngIf="loading" id="preloader">
    <div id="preloader-content">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
        <div class="clear clearfix"></div>
        <span>{{inform}}</span>
    </div>   
</div>