<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Option Management</h3>
    <blockquote>Option Management.</blockquote>
    <div class="margin-t-30"></div>
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Content</th>
                <th>Value</th>
                <th>Minimum Value</th>
                <th>Maximum Value</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let option of options;">
                <td>{{option.id}}</td>
                <td>{{option.content}}</td>
                <td>{{option.value}}</td>
                <td>{{option.minValue}}</td>
                <td>{{option.maxValue}}</td>
            </tr>
        </tbody>
    </table>
</div>