<div class="col s12 m9 main-content">
  <h3 class="main-title">
    <i class="fa fa-hashtag"></i>&nbsp;{{ 'information' | translate}}</h3>
  <blockquote>{{ 'information-description' | translate}}</blockquote>
  <div class="margin-b-20"></div>
  <div id="information-dashboard">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-move-up waves-effect waves-block waves-light">
            <div class="move-up cyan darken-1">
              <span class="card-title white-text">{{ 'information' | translate}}</span>
            </div>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s5 m4 l4">
                <p>
                  <i class="fa fa-cog"></i>&emsp;{{ 'name' | translate}}: </p>
              </div>
              <div class="col s7 m8 l8">
                <span class="bold break-word">{{provider?.name}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col s5 m4 l4">
                <p>
                  <i class="fa fa-envelope"></i>&emsp;{{ 'email' | translate}}: </p>
              </div>
              <div class="col s7 m8 l8">
                <span class="bold break-word">{{provider?.email}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col s5 m4 l4">
                <p>
                  <i class="fa fa-phone-square"></i>&emsp;{{ 'telephone' | translate}}: </p>
              </div>
              <div class="col s7 m8 l8">
                <span class="bold break-word"> {{provider?.tel}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col s5 m4 l4">
                <p>
                  <i class="fa fa-address-card"></i>&emsp;{{ 'address' | translate}}: </p>
              </div>
              <div class="col s7 m8 l8">
                <span class="bold break-word"> {{provider?.address}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-move-up waves-effect waves-block waves-light">
            <div class="move-up cyan darken-1">
              <span class="card-title white-text">{{ 'avatar' | translate}}</span>
            </div>
          </div>
          <div class="card-content">
            <div class="row">
              <form>
                <div class="col s12 m12 l12">
                  <div class="input-field file-field">
                    <div class="btn btn-small btn-upload">
                      <span>
                        <i class="fa fa-upload"></i>
                      </span>
                      <input type="file" (change)="fileChange($event)" placeholder="Only accept image file" accept="image/*" name="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" name="fileName" [(ngModel)]="fileName">
                    </div>
                  </div>
                </div>
                <div class="col s12">
                  <a class="modal-trigger waves-effect waves-light btn" (click)="changeBackground()" [ngClass]="{'disabled' : isDisabled}">{{ 'upload' | translate}}</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasFullRestriction" class="col s12 m6 l6">
        <div class="card">
          <div class="card-move-up waves-effect waves-block waves-light">
            <div class="move-up cyan darken-1">
              <span class="card-title white-text">{{ 'statistic' | translate}}</span>
            </div>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s4 m4 l4">
                <p>
                  <i class="fa fa-cog"></i>&emsp;{{ 'coin' | translate}}: </p>
              </div>
              <div class="col s8 m8 l8">
                <span class="bold">{{provider?.coin}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l6">
        <a class="modal-trigger waves-effect waves-light btn" routerLink="/password">{{ 'change-password' | translate}}</a>
      </div>
    </div>
  </div>
</div>