<div class="col s12">
  <nav id="breadcrumb" class=" hide-on-med-and-down">
    <div class="nav-wrapper">
      <div class="col s12" *ngIf="!navbarLevel3Name else elseBlock">
        <a routerLink="/home" class="breadcrumb">Home</a>
        <a class="breadcrumb">{{navbarName}}</a>
      </div>
      <ng-template #elseBlock><div class="col s12">
        <a routerLink="/home" class="breadcrumb">Home</a>
        <a routerLink="/{{navbarName | lowercase}}" class="breadcrumb">{{navbarName}}</a>
        <a class="breadcrumb">{{navbarLevel3Name}}</a>
      </div></ng-template>
    </div>
  </nav>
</div>
