<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{'promotion' | translate}}</h3>
    <!-- <blockquote>Promotion.
    </blockquote> -->
    <div class="margin-t-30"></div>
    <a class="modal-trigger waves-effect waves-light btn" routerLink="/promotion/add/0">{{ 'add' | translate}}</a>
    <ul class="pagination">
        <li class="previous" [ngClass]="{'disabled' : page==1}"><a (click)="previousPage()"><i class="fa fa-angle-left"></i></a></li>
        <li class="page">{{page}}/{{totalPage}}</li>
        <li class="next" [ngClass]="{'disabled' : page==totalPage}"><a (click)="nextPage()"><i class="fa fa-angle-right"></i></a></li>
      </ul>
    <table class="responsive-table striped highlight">
        <thead>
            <tr>
                <th>{{ 'status' | translate}}</th>                
                <th>{{ 'promotion-title' | translate }}</th>
                <!-- <th>Description</th> -->
                <th>{{ 'date' | translate}}</th>
                <th>{{ 'receive' | translate}}</th>
                <th>{{ 'like' | translate}}</th>
                <th>{{ 'ignore' | translate}}</th>
                <!-- <th>Link</th>
                <th>Image</th>      -->
                <th>{{ 'action' | translate}}</th>
            </tr>
        </thead>
  
        <tbody>
            <tr *ngFor="let promotion of promotions; let i = index;">
                <td>
                    <span *ngIf="i==0 && page==1"><i class="fa fa-check" aria-hidden="true"></i></span>   
                    <span *ngIf="i!=0 || page!=1"><i class="fa fa-minus" aria-hidden="true"></i></span>                       
                   
                    
                </td>
                <td class="promotion-title-grid">{{promotion.title}}</td>
                <!-- <td>
                        <textarea rows="3" cols="50" readonly>
                                {{promotion.description}}
                        </textarea>
                </td> -->
                <td>{{promotion.dateBegin}} - {{promotion.dateEnd}} </td>
                <td>{{promotion.listReceive.length||0}}</td>                                
                <td>{{promotion.listLikes.length||0}}</td>
                <td>{{promotion.listIgnores.length||0}}</td>
                <!-- <td><a href="{{promotion.link}}" target="_blank">{{promotion.link||0}}</a> -->
                <!-- </td>
                 <td><span><img src="{{staticUrl}}/public/img/upload/promotion/{{promotion.linkImage}}" class="width-50"></span></td>-->
                <td>
                     <span>
                        <a  *ngIf="i==0 && page==1" [routerLink]="['/promotion/add', promotion._id]"><i class="fa fa-pencil"></i></a> &nbsp;                        
                    </span>
                </td>
                    <!-- <span *ngIf="i==0 && page>1"><i class="fa fa-times" aria-hidden="true"></i></span>                                              
                    <span *ngIf="i>0"><i class="fa fa-times" aria-hidden="true"></i></span>                           -->
            </tr>
        </tbody>
    </table>
  </div>