<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>  
<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;{{'promotion' | translate}}</h3>
    <!-- <blockquote>Send promotion
    </blockquote> -->
    <div class="margin-t-30"></div>
    <div class="row">
        <form class="col s10 custom-form">
            <div class="row">
                <div class="input-field col s12">
                    {{'promotion-title' | translate}}:
                    <input placeholder="title" id="titlePromotion" type="text" class="validate" name="title" [(ngModel)]="title" required>
                    <!-- <label for="titlePromotion">Title</label> -->
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{'link' | translate}}:
                    <input placeholder="link" id="linkPromotion" type="text" class="link" name="link" [(ngModel)]="link" required>
                    <!-- <label for="titlePromotion">Link</label> -->
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{'content' | translate}}:
                    <textarea name="content" id="contentPromotion" cols="30" rows="10" placeholder="Promotion's content..." [(ngModel)]="content" required></textarea>
                    <!-- <label for="contentPromotion">Content</label> -->
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{'date-begin' | translate}}:
                    <input type="text" placeholder="Date begin" id="dateBegin" class="datepicker">
                    <!-- <label for="dateBegin">Date begin</label> -->
                </div>
                <div class="input-field col s12">
                    {{'date-end' | translate}}:
                    <input placeholder="Date end" type="text" id="dateEnd" class="datepicker">
                    <!-- <label for="dateBegin">Date end</label> -->
                </div>
            </div>
            <!-- <div class="row">                
                <label>Browser Select</label>
                <select id ="timePromotion" class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="0">Option 1</option>
                  <option value="9">Option 2</option>
                  <option value="15">Option 3</option>
                </select>
            </div>         -->
            <!-- <div class="row">
                <label style="margin-left:15px">Time to send</label>
                <div>
                    <input name="timeNow" type="radio" id="now" (change)="selectNow(true)" />
                    <label for="now">Now</label>
                    <input name="timeNow" type="radio" id="timeSelect" (change)="selectNow(false)" />
                    <label for="timeSelect">Select a time</label>
                </div>
            </div>
            <div class="row" *ngIf="!isNow">
                <input id ="timePromotion" type="time" class="timepicker" name="timePromotion" [(ngModel)]="timePromotion" (change)="timeChange()" required>
            </div> -->
            <div class="row" *ngIf="isUpdate">

                <div>
                    <input name="uploadImage" type="radio" id="lastImage" (change)="isUploadImage(false)" />
                    <label for="lastImage">Use image existed</label>
                    <input name="uploadImage" type="radio" id="uploadImage" checked="checked" (change)="isUploadImage(true)" selected/>
                    <label for="uploadImage">Upload image</label>
                </div>

            </div>
            <div class="row" *ngIf="isUpload">
                <label style="margin-left:15px">{{'image' | translate}}</label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>{{ 'upload' | translate}}</span>
                        <input type="file" (change)="fileChange($event)" placeholder="Only accept png image" accept=".png">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <label style="margin-left:15px">To customers</label>
                <div>
                    <input name="group1" type="radio" id="test1" (change)="selectAll(true)" />
                    <label for="test1">All</label>
                    <input name="group1" type="radio" checked="checked" id="test2" (change)="selectAll(false)" />
                    <label for="test2">Select from list</label>
                </div>
            </div>
            <div class="row" *ngIf="!isAll">
                <table class="responsive-table striped custom-table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Times visited</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers;">
                            <td for="activePromotion">{{customer.customerName}}</td>
                            <td>{{customer.numerVisit}}</td>
                            <td>
                                <input type="checkbox" id="active{{customer.customerId}}" checked="checked" (change)="onCheck(customer)" [(ngModel)]="customer.active"
                                    name="active" />
                                <label for="active{{customer.customerId}}"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <div class="margin-t-30"></div>
            <div class="row">
                <hr>
                <a class="modal-trigger waves-effect waves-light btn" (click)="addOrUpdate()">{{submitButtonText}}</a>
            </div>
        </form>
    </div>
    <!-- <a class="modal-trigger waves-effect waves-light btn" routerLink="/criterion/add">Add</a> -->

</div>