  .width-50 {
    width: 50px;
  }

  .width-75 {
    width: 75px;
  }

  .max-width-450 {
    max-width: 450px;
  }

  .margin-r-10 {
    margin-right: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .green {
    color: #2ecc71;
  }

  .red {
    color: #e74c3c;
  }

  .bg-green {
    background-color: #2ecc71 !important;
  }

  .tag {
    padding: 5px 10px;
    color: white;
    &.tag-blue {
      background: #3498db;
    }
    &.tag-green {
      background: $primary-color;
    }
    &.tag-yellow {
      background: #e67e22;
    }
    &.tag-dark {
      background: #d3d3d3;
    }
  }

  .btn {
    background-color: $primary-color;
    &.btn-small {
      height: 2rem;
      line-height: 2rem;
    }
    &.btn-medium {
      height: 2.5rem;
      line-height: 2.5rem;
    }
  }

  .break-word{
    word-wrap: break-word;
  }

  table {
    &.custom-table {
      tbody {
        p {
          margin: 0;
        }
      }
    }
  }

  form {
    &.custom-form {
      .row {
        margin-bottom: 10px;
      }
      .input-field {
        label {
          font-style: italic;
        }
      }
      input {
        height: 2.5rem;
        font-size: 0.9rem;
        margin-bottom: 5px;
        padding: 3px 5px;
      }
      input.readonly {
        background: #d3d3d3;
      }
      .input-field {
        .btn {
          &.btn-small {
            height: 1.5rem;
            line-height: 1.5rem;
            padding: 3px 7px 25px;
          }
        }
      }
      *::-webkit-input-placeholder {
        font-style: italic;
      }
      *:-moz-placeholder {
        font-style: italic;
      }
      *::-moz-placeholder {
        font-style: italic;
      }
      *:-ms-input-placeholder {
        font-style: italic;
      }
      *::-ms-input-placeholder {
        font-style: italic;
      }
      *::placehoder {
        font-style: italic;
      }
      label {
        font-size: 0.9rem !important;
      }
    }
  } // ---------------------------------
  #logo-container {
    img {
      width: 65px;
    }
  }

  #site-quote-header {
    font-style: italic;
    font-size: 13px;
    padding: 20px;
    position: absolute;
    right: 0;
  }

  #site-quote-footer {
    font-style: italic;
    font-size: 13px;
    display: none;
    color: white;
  } // nav {
  //   background: $primary-color;
  //   &#breadcrumb {
  //     box-shadow: none;
  //     margin-top: 10px;
  //     padding-left: 5px;
  //     border-bottom: $primary-color solid 1px;
  //     line-height: 50px;
  //     background: #fff;
  //     .breadcrumb,
  //     .breadcrumb:before {
  //       color: $primary-color;
  //       font-size: $nav-breadcrumb-fontsize;
  //     }
  //     .breadcrumb:hover {
  //       text-decoration: underline;
  //     }
  //   }
  // }
  #content{
    margin-bottom: 75px;
  }

  .content {
    padding-bottom: 100px;
  }

  .main-content {
    .main-title {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 1rem 0 0.3rem;
    }
    blockquote {
      font-style: italic;
      margin: 0;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .login-form {
    // text-align: center;
    margin-bottom: 50px;
    .login-form-header {
      text-align: left;
      margin-top: 20px;
    }
    h3 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      border-bottom: #ccc solid 1px;
      color: #fff;
    }
    i.fa.prefix {
      padding: 15px;
      font-size: 22px;
      color: #fff;
    }
    input:focus+i.fa,
    input:focus+label {
      color: $primary-color;
    }
    .sign-up {
      margin-top: 25px;
      padding-top: 20px;
      border-top: #ccc solid 1px;
      text-align: right;
    }
  }

  .sidebar-content {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    li.break-line {
      border-top: 1px solid #ccc;
    }
    li.li-link {
      padding: 7px 5px;
    }
    li.li-link:not(.parent) a {
      margin-left: 15px;
      color: #000;
    }
    li.li-link:not(.parent):hover {
      background: $primary-color;
    }
    li.li-link:not(.parent):hover a {
      color: #fff;
    }
    li.li-link:not(.parent) i.fa {
      color: #ccc;
    }
    li.li-link.active,
    li.li-link.active i.fa,
    li.li-link.active a,
    li.li-link.active a:hover {
      color: #fff;
      background: $primary-color;
    }
    li.li-link.sign-out {
      border-top: 1px solid $primary-color;
    }
    li.li-link.sign-out:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .input-field {
    label {
      color: #9e9e9e;
    }
    &.inline {
      width: 70%;
    }
    &.input-left input {
      float: left;
    }
  }

  ul.pagination {
    li.previous:hover,
    li.next:hover {
      cursor: pointer;
    }
    li.page {
      padding: 4px;
      font-size: 1.2rem;
    }
  }

  .collapsible {
    box-shadow: none;
  }

  .collapsible-header {
    i {
      font-size: 1.4rem;
    }
  }

  .collapsible-body {
    padding: 5px 15px;
    li {
      padding: 5px;
    }
    li:hover {
      text-decoration: underline;
      font-style: italic;
    }
  }

  .alert {
    &.alert-danger {
      color: #F44336;
    }
    &.right {
      line-height: 4rem;
      margin-left: 15px;
    }
    i.fa {
      padding: 5px;
      color: #F44336;
    }
  }

  footer {
    height: 50px;
    &.fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999;
    }
    &.page-footer {
      padding-top: 0;
    }
  }

  .width-250 {
    width: 250px !important;
  }

  .width-100 {
    width: 100px !important;
  }

  .margin-t-20 {
    margin-top: 20px;
  }

  .margin-t-30 {
    margin-top: 30px;
  }

  .margin-b-20 {
    margin-bottom: 20px;
  }

  .cm-modal {
    width: 450px;
    position: absolute;
    z-index: 9999 !important;
    text-align: center;
  }

  #toast-container>div {
    width: auto !important;
    max-width: 100% !important;
    .toast-title {
      margin-right: 15px;
    }
  } // ----------------//
  #main {
    padding-left: 300px;
    .container {
      padding: 0 0.5rem;
      margin: 0 auto;
      max-width: 100% !important;
      width: 98%;
    }
  }

  ul.side-nav.leftside-navigation {
    overflow: auto;
  }

  ul.side-nav.leftside-navigation li a {
    font-size: 14px;
    font-weight: 400;
  }

  ul.side-nav.leftside-navigation li {
    line-height: 44px;
  }

  ul.side-nav .collapsible-header {
    margin: 0;
  }

  #left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
  }

  #slide-out li a i {
    line-height: inherit;
    width: 2rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
  }

  .side-nav .collapsible-header,
  .side-nav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 32px;
  }

  .side-nav .collapsible-body li a {
    margin: 0 1rem 0 3rem;
  }

  .collapsible-header:after {
    font-family: "FontAwesome";
    content: "\f054";
    float: right;
    color: #9e9e9e;
    font-size: 18px;
  }

  .collapsible-header.active:after {
    content: "\f078";
  }

  .side-nav .collapsible-body li a {
    font-size: 13px;
  }

  .side-nav .collapsible-body li a i {
    font-size: 1.4rem;
  }

  #slide-out li.active {
    background-color: #fff;
  }

  #slide-out li.active a {
    color: #000;
  }

  #slide-out>li.active {
    border-left: 3px solid #0097a7;
  }

  #slide-out li.active>a>i {
    color: #0097a7;
  }

  #slide-out .site-logo {
    height: 190px;
    text-align: right;
    line-height: 25px;
    color: white;
    position: relative;
  }

  #slide-out .site-logo .mask{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #slide-out .site-logo .mask h3{
    text-align: left;
    font-size: 25px;
    padding: 5px 30px;
    /* display: block; */
    top: 32px;
    position: relative;
    font-weight: 300;
  }

  #slide-out .site-logo img {
    width: 70px;
    margin: 10px auto;
    display: block;
  }

  #slide-out .site-logo span {
    font-size: 13px;
    font-style: italic;
  }

  #header {
    box-shadow: 0 0px 5px 0px #000;
    -moz-box-shadow: 0 0px 5px 0px #000;
    -webkit-box-shadow: 0 0px 5px 0px #000;
  }

  nav.navbar-color {
    background: #fff;
  }

  .site-user {
    padding-top: 7px;
  }

  .site-user img {
    width: 50px;
  }

  .site-user .profile-btn {
    margin: 7px 0;
    text-transform: capitalize;
    padding: 0;
    font-size: 15px;
    display: inline-block;
  }

  .site-user .profile-btn i {
    line-height: inherit;
  } //
  .card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    .card-content {
      border-top: 1px solid #ccc;
      padding: 20px 30px 5px;
    }
    .card-move-up .move-up {
      padding: 10px 20px;
    }
    .card-title {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  .sidebar-collapse {
    position: absolute;
    left: -170px;
    top: -45px;
  }

  ul.side-nav.leftside-navigation li:not(:first-child) {
    padding: 10px 0;
  }

  .collapsible-body li:hover {
    text-decoration: none;
    font-style: normal;
  }

  #dashboard #report {
    i {
      font-size: 20px;
      margin: 5px;
    }
  }

  .modal {
    width: 70%;
    .modal-header {
      background: $primary-color;
      padding: 10px;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .login-container {
    text-align: center;
    margin-top: 120px;
    h3 {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.3rem;
      color: #00acc1;
    }
    .input-field .prefix.active {
      color: #fff !important;
      font-size: 110%;
    }
    img {
      max-width: 100px;
    }
    label {
      color: #ccc;
    }
    input {
      color: #fff;
    }
    input:focus {
      border-bottom: 1px solid #fff !important;
    }
    input:focus+label {
      color: #fff !important;
    }
    input.valid {
      border-bottom: 1px solid #fff;
      box-shadow: 0 1px 0 0 #fff;
    }
    button {
      background: #fff;
      color: #0097a7;
    }
    button:focus {
      background: #fff;
      font-weight: bold;
    }
  }

  .register-container {
    margin-top: 50px;
    h3 {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5rem;
      color: #00acc1;
      &.border {
        border-bottom: 1px solid;
      }
    }
    .prefix {
      color: #00acc1;
      font-size: 1.7rem;
      margin: 10px;
    }
    input:focus {
      border-bottom: 1px solid #00acc1 !important;
    }
    input:focus+label {
      color: #00acc1 !important;
    }
    input.valid {
      border-bottom: 1px solid #00acc1;
      box-shadow: 0 1px 0 0 #00acc1;
    }
  }

  @media only screen and (max-width: 993px) {
    #main {
      padding-left: 0;
    }
    ul.side-nav.leftside-navigation li:not(:first-child) {
      padding: 10px 0;
    }
    table {
      &.custom-table {
        thead {
          th.th-avatar {
            padding: 30px 0;
          }
        }
      }
    }
  }

  @media #{$medium-and-up} {
    nav#breadcrumb,
    nav#breadcrumb .nav-wrapper {
      height: $nav-breadcrumb-height;
    }
  }

  @media #{$medium-and-down} {
    .modal .modal-content {
      padding: 5px;
    }
    #site-quote-header {
      display: none;
    }
    #site-quote-footer {
      display: block;
    }
  }

  @media only screen and (max-width: 992px)
{
  table.responsive-table th {
    max-width: 110px;
  }

  table.responsive-table th.img {
    height: 80px;
  }

  table.responsive-table td.promotion-title-grid{
    margin-bottom: 22px;
  }
}