<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Background</h3>
  <blockquote>Change your background to feel better.</blockquote>
  <div class="margin-t-30"></div>
  <div class="col s12 m12">
    <form class="col s12 center-align">
      <div class="row">
        <div class="col s12 m12">
          <div class="input-field file-field">
            <div class="btn btn-small">
              <span>File</span>
              <input type="file" (change)="fileChange($event)" placeholder="Only accept image file" accept="image/*" name="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" name="fileName" [(ngModel)]="fileName">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <a class="modal-trigger waves-effect waves-light btn" (click)="addOrUpdate()" [ngClass]="{'disabled' : isDisabled}">Upload</a>
        </div>
      </div>
      <div class="row" [hidden]="!hasPreview">
        <div id="preview">
            <img class="preview-image" />
        </div>
      </div>
    </form>
  </div>
</div>
<app-preloader [loading]="loading" [inform]="loadingInform"></app-preloader>
