<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Enter code</h3>
  <blockquote>Enter correct code to get coin.</blockquote>
  <div class="margin-b-20"></div>
  <div id="bill-form">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <form class="center-align">
              <div class="input-field">
                <input class="center-align" style="font-size: 1.7rem;" id="code" name="code" type="text" [(ngModel)]="code" required />
                <label for="bill">Code</label>
                <div class="margin-t-20"></div>
                <a class="modal-trigger waves-effect waves-light btn" (click)="buyCoin()" [ngClass]="{'disabled' : code=='' || code==undefined}">
                            Submit
                        </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-preloader [loading]="loading" [inform]="loadingInform"></app-preloader>
