.qr-modal{
    position: absolute;
    z-index: 9999 !important;
    text-align: center;
    top: 20%;
}

.qr-modal .modal-header h4{
    font-size: 20px;
    font-weight: bold;
}

.qr-modal .modal-body{
    text-align: center;
}

.qr-modal img{
    width: 100%;
    max-width: 450px;
}