.mc-modal{
    text-align: center;
    overflow: hidden;
}

.mc-modal .modal-header h4{
    font-size: 18px;
    font-weight: bold;
}

.mc-modal .modal-content{
    padding: 0;
}

.mc-modal img{
    width: 100%;
    max-width: 300px;
}