<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Enter bill code</h3>
  <blockquote>Enter bill number to generate CODE for customer.</blockquote>
  <div class="margin-b-20"></div>
  <div id="bill-form">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <form class="center-align">
              <div class="input-field">
                <!-- <input class="center-align" style="font-size: 1.7rem;" id="bill" name="bill" type="text" [(ngModel)]="billNumber" required
                />
                <label for="bill">Value</label> -->
                <div class="margin-t-20"></div>
                <a class="modal-trigger waves-effect waves-light btn" id="generateQRBtn" (click)="getMessengerCode()">
                        Generate
                    </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="mcModal" class="mc-modal modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-header">
    <div class="row">
      <h4>MESSENGER CODE</h4>
    </div>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col s12 m12">
        <img *ngIf="messengerCodeUri != undefined && messengerCodeUri != ''" [src]="messengerCodeUri" alt="MESSENGER Code Here" id="qrCode"
          class="full-width" />
        <hr>
        <span>This code will be expired in 15 minutes.</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>
<app-preloader [loading]="loading" [inform]="loadingInform"></app-preloader>