<div class="col s12 m9 main-content">
    <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Report</h3>
    <blockquote>Report</blockquote>
    <div class="margin-t-30"></div>
    <div class="card darken-1" *ngIf="informations">
            <div class="card-content">
              <span class="card-title">{{today}}</span>
              <div class="row">
                 <div class="col s6 m3"><i class="fa fa-file-text-o fa-2x" ></i> {{informations.bill}} Bills</div>
                 <div class="col s6 m3"><i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>{{informations.feedback}} FeedBacks</div>
                 <div class="col s6 m3"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i> {{informations.newUser}} New users</div>
                 <div class="col s6 m3"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i> {{informations.badComment}} Bad comments</div>
              </div>
            </div>
    </div>
    <div class="card darken-1" *ngIf="reportDaily">
            <div class="card-content">
                <span class="card-title">Daily Report</span>
                <blockquote>{{reportDaily.day}}</blockquote>
                <div class="margin-t-15"></div>
                <div class="dailyComment" *ngFor="let report of reportDaily.listReport; let i = index;">   
                    <i class="fa fa-smile-o fa-2x" aria-hidden="true" *ngIf="report[0]==1" style="color: #4caf50;"></i>
                    <i class="fa fa-meh-o fa-2x" aria-hidden="true" *ngIf="report[0]==0" style="color:  #fdc141;"></i>
                    <i class="fa fa-frown-o fa-2x" aria-hidden="true" *ngIf="report[0]==-1" style="color: #f7665b;"></i>
                    <span>{{report[1]}}</span>
                    <i class="fa fa-sort-asc fa-2x" aria-hidden="true" *ngIf="report[2]>0" style="color: #4caf50;margin-bottom: -10px;"></i>
                    <i class="fa fa-sort-desc fa-2x" aria-hidden="true" *ngIf="report[2]<0" style="color: #f7665b;margin-top: -12px;"></i>
                    <i class="fa fa-caret-right fa-caret-down-orange fa-2x" aria-hidden="true" *ngIf="report[2]==0" style="color:  #fdc141;"></i>                                                
                    <span *ngIf="report[2]>0">(+{{report[2]}})</span>
                    <span *ngIf="report[2]<0">({{report[2]}})</span>
                    <span *ngIf="report[2]==0">({{report[2]}})</span>                
                </div>    
            </div>
    </div>
    <div class="card darken-1" *ngIf="reportWeek">
            <div class="card-content">
                <span class="card-title">Weekly Report</span>
                <blockquote>From {{reportWeek.firstday}} to {{reportWeek.lastDay}}</blockquote>
                <div class="margin-t-15"></div>
                <div class="weekComment" *ngFor="let report of reportWeek.listReport; let i = index;">   
                   <i class="fa fa-smile-o fa-2x" aria-hidden="true" *ngIf="report[0]==1" style="color: #4caf50;"></i>
                    <i class="fa fa-meh-o fa-2x" aria-hidden="true" *ngIf="report[0]==0" style="color:  #fdc141;"></i>
                    <i class="fa fa-frown-o fa-2x" aria-hidden="true" *ngIf="report[0]==-1" style="color: #f7665b;"></i>
                    <span>{{report[1]}}</span>
                    <i class="fa fa-sort-asc fa-2x" aria-hidden="true" *ngIf="report[2]>0" style="color: #4caf50;margin-bottom: -10px;"></i>
                    <i class="fa fa-sort-desc fa-2x" aria-hidden="true" *ngIf="report[2]<0" style="color: #f7665b;margin-top: -12px;"></i>
                    <i class="fa fa-caret-right fa-caret-down-orange fa-2x" aria-hidden="true" *ngIf="report[2]==0" style="color:  #fdc141;"></i>                                                
                    <span *ngIf="report[2]>0">(+{{report[2]}})</span>
                    <span *ngIf="report[2]<0">({{report[2]}})</span>
                    <span *ngIf="report[2]==0">({{report[2]}})</span>                
              </div>    
            </div>
    </div>
    <div class="card darken-1">
            <div class="card-content">
                <span class="card-title">Bad comments</span>
                <blockquote>{{today}}</blockquote>
                <div class="margin-t-15"></div>
             <ul class="collapsible" data-collapsible="accordion">
                <li *ngFor="let badComment of badComments; let i = index;">
                    <div class="collapsible-header">
                          <a class="collection-item"><span class="badge">{{badComment.comments.length}}</span>{{badComment.name}}</a>
                    </div>
                    <div class="collapsible-body">
                       <ul class="collection">
                            <li class="collection-item avatar" *ngFor="let comment of badComment.comments; let i = index;">
                               <img src="{{comment.userImgUrt}}" alt="" class="circle">
                               <span class="title">{{comment.userName}}</span>
                               <p>{{comment.comment}}</p>
                           </li>
                       </ul>
                    </div>
                </li>
              </ul>
          </div>
    </div>            
</div>