<div class="col s12 m9 main-content">
  <h3 class="main-title"><i class="fa fa-hashtag"></i>&nbsp;Reservation Management</h3>
  <blockquote>Reservation Management.
  </blockquote>
  <ul class="pagination">
    <li class="previous" [ngClass]="{'disabled' : page==1}"><a (click)="previousPage()"><i class="fa fa-angle-left"></i></a></li>
    <li class="page">{{page}}/{{totalPage}}</li>
    <li class="next" [ngClass]="{'disabled' : page==totalPage}"><a (click)="nextPage()"><i class="fa fa-angle-right"></i></a></li>
  </ul>
  <table class="responsive-table striped highlight ">
      <thead>
          <tr>
              <th>Customer</th>
              <th>Time</th>
              <th>Number of people</th>
              <th>Notes</th>
              <th>Action</th>
              <th>Staff</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let book of books;">
              <td>{{book.customerName}}</td>
              <td>{{book.dateTime}}</td>
              <td>{{book.numCus}}</td>
              <td>{{book.conditions}}</td>
              <td>
                  <span *ngIf="!book.isDecided || book.isDecided==false"><a class="waves-effect waves-light btn" (click)="acceptBook(book._id)"><i class="fa fa-check"></i>Accept</a></span>
                  <span *ngIf="!book.isDecided || book.isDecided==false"><a class="waves-effect waves-light btn" href="#refuseModal" (click)="refuseBook(book._id)"><i class="fa fa-close"></i>Refuse</a></span>                  
                  <span *ngIf="book.isAccept == true && book.isDecided==true"><i class="fa fa-check">Accepted</i></span>
                  <span *ngIf="book.isAccept == false && book.isDecided==true"><i class="fa fa-close">Refused</i></span>
              </td>
              <td><span *ngIf="book.isDecided">{{book.staffName || book.providerUsername}}</span>
                </td>
          </tr>
      </tbody>
  </table>
</div>

<div id="refuseModal" class="refuseModal modal" materialize="modal">
    <div class="modal-header">
      <div class="row">
        <h4>Reason Refuse Reservation</h4>
      </div>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m7">
              <div class="input-field inline">
                  Message:                  
                <input id="message" placeholder="Message" type="text" name="message" [(ngModel)]="message" required>
              </div>
            </div>
          </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="addRefuseReason()">OK</a>
    </div>
  </div>
  